################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/imgs/C3L-00004-21.svs
/imgs/C3L-00004-26.svs
